{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cash-Flow_PetProject{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

    <!-- Подключение дополнительных стилей -->
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
        <!-- Навигационная панель или логотип -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{% static 'main/img/6475986.png' %}" alt="Logo" style="width: 2%; height: auto;">
            <a class="navbar-brand" href="{% url 'transaction_list' %}">Cash-Flow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="{% url 'transaction_list' %}"> <button class="btn btn-outline-success" type="button">Transaction</button></a>
                    <a class="nav-link" href="{% url 'transaction_add' %}"> <button class="btn btn-outline-success" type="button">Add transaction</button></a>
                    <a class="nav-link" href="{% url 'upload_csv' %}"> <button class="btn btn-outline-success" type="button">Upload CSV File</button></a>
                    <a class="nav-link" href="{% url 'transactions_by_category' %}"> <button class="btn btn-outline-success" type="button">Analytics</button></a>
            <!-- Ваши ссылки на страницы здесь -->
        </ul>
        <ul class="navbar-nav">
            <!-- Форма для удаления всех транзакций -->
            <li class="nav-item">
                <form action="{% url 'delete_all_transactions' %}" method="post" onsubmit="return confirmDeleteAllTransactions()">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Delete All Transactions</button>
                </form>
            </li>
            <!-- Форма для удаления всех категорий -->
            <li class="nav-item">
                <form action="{% url 'delete_all_categories' %}" method="post" onsubmit="return confirmDeleteAllCategories()">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Delete All Categories</button>
                </form>
            </li>
        </ul>





<!--                <ul class="navbar-nav">-->

<!--                        <a class="nav-link" href="{% url 'transaction_list' %}"> <button class="btn btn-outline-success" type="button">Transaction</button></a>-->
<!--                        <a class="nav-link" href="{% url 'transaction_add' %}"> <button class="btn btn-outline-success" type="button">Add transaction</button></a>-->
<!--                        <a class="nav-link" href="{% url 'upload_csv' %}"> <button class="btn btn-outline-success" type="button">Upload CSV File</button></a>-->
<!--                    -->


<!--                    &lt;!&ndash; Дополнительные ссылки &ndash;&gt;-->
<!--                </ul>-->

            </div>
        </nav>
    </header>
    <aside>



<!--        <h3>Navigation</h3>-->
<!--        <ul>-->
<!--            <a href=""><li><i class="fas fa-home"></i>Main</li></a>-->
<!--            <a href=""><li><i class="fas fa-home"></i>About us</li></a>-->
<!--            <a href=""><li><i class="fas fa-home"></i>Kontakt</li></a>-->
<!--        </ul>-->
    </aside>
    <main role="main" class="container">
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
        {% block content2 %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <!-- Подключение JavaScript и Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function confirmDeleteAllTransactions() {
            return confirm("Are you sure you want to delete all transactions?");
        }

        function confirmDeleteAllCategories() {
            return confirm("Are you sure you want to delete all categories?");
        }
    </script>
    {% block extra_js %}

    {% endblock %}

</body>

</html>
